.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  margin-top: 4rem;
  color: #fff;
}

.wrapper h2 {
  margin-bottom: 1rem;
}

.wrapper button {
  margin-top: 30px;
  font-size: 1.2rem;
}

.left-side,
.right-side {
  padding: 2.2rem 4rem;
}

.left-side {
  background: linear-gradient(
    149.04deg,
    #001659 52.36%,
    rgba(0, 178, 255, 0.82) 212.1%
  );
  width: 50%;
  align-self: baseline;
}

.left-side p {
  margin-right: 4rem;
}

.right-side p {
  margin-left: 3rem;
}

.right-side {
  width: 50%;
  background: linear-gradient(211.66deg, #ff5e14 45.95%, #ffa841 186.3%);
  text-align: right;
  margin-top: 8rem;
}

.right-side button {
  background-color: var(--secondary-clr);
}

.img-wrapper {
  margin-top: -7rem;
  margin-left: -9rem;
  display: flex;
}

.img-wrapper img {
  width: 74%;
}

.img-wrapper > div {
  align-self: center;
  text-align: right;
  color: var(--secondary-clr);
}

.img-wrapper p {
  font-size: clamp(0.8rem, 2vw, 1.3rem);
}

@media only screen and (max-width: 1200px) {
  .left-side,
  .right-side {
    padding: 2.2rem 2.5rem;
  }
  .wrapper {
    gap: 3rem;
  }
}

@media only screen and (max-width: 1250px) {
  .img-wrapper {
    margin-bottom: 2rem;
  }

  .img-wrapper > div {
    align-self: flex-end;
  }
}

@media only screen and (max-width: 1050px) {
  .img-wrapper {
    margin-left: 0;
    flex-direction: column;
  }

  .img-wrapper > div {
    text-align: left;
  }
}

@media only screen and (max-width: 915px) {
  .left-side,
  .right-side {
    padding: 2.2rem 2.5rem;
  }

  .wrapper {
    gap: 2rem;
  }
}

@media only screen and (max-width: 880px) {
  .left-side,
  .right-side {
    width: initial;
  }

  .wrapper {
    gap: 0;
    flex-direction: column;
  }

  .right-side {
    margin-top: 0;
  }

  .img-wrapper {
    margin-top: -1rem;
  }

  .img-wrapper img {
    width: 100%;
    transform: scale(1.1);
  }
}
