.wrapper {
  display: flex;
  justify-content: space-between;
  /* gap: 4rem; */
  margin-top: 4rem;
  color: #fff;
}

.wrapper h2 {
  margin-bottom: 1rem;
}

.wrapper a {
  margin-top: 30px;
  display: inline-block;
  background-color: var(--main-clr);
  border: none;
  padding: 0.5em 2em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  font-size: clamp(1rem, 1.7vw, 1.3rem) !important;
}

.left-side,
.right-side {
  padding: 2.2rem 4rem;
}

.left-side {
  background: linear-gradient(
    149.04deg,
    #001659 52.36%,
    rgba(0, 178, 255, 0.82) 212.1%
  );
  width: 50%;
  align-self: baseline;
  margin-right: 2rem;
}

.left-side p {
  margin-right: 4rem;
}

.right-side p {
  margin-left: 3rem;
}

.right-side {
  width: 50%;
  background: linear-gradient(211.66deg, #ff5e14 45.95%, #ffa841 186.3%);
  text-align: right;
  margin-top: 8rem;
  margin-left: 2rem;
}

.right-side a {
  background-color: var(--secondary-clr);
}

.img-wrapper {
  margin-top: -7rem;
  margin-left: -9rem;
  display: flex;
}

.img-wrapper img {
  width: 74%;
}

.img-wrapper > div {
  align-self: center;
  text-align: right;
  color: var(--secondary-clr);
}

.img-wrapper p {
  font-size: clamp(1rem, 1.6vw, 1.3rem);
}

@media only screen and (max-width: 1200px) {
  .left-side,
  .right-side {
    padding: 2.2rem 2.5rem;
  }

  .left-side {
    margin-right: 1.5rem;
  }

  .right-side {
    margin-left: 1.5rem;
  }
}

@media only screen and (max-width: 1250px) {
  .img-wrapper {
    margin-bottom: 2rem;
  }

  .img-wrapper > div {
    align-self: flex-end;
  }
}

@media only screen and (max-width: 1050px) {
  .img-wrapper {
    margin-left: 0;
    flex-direction: column;
  }

  .img-wrapper > div {
    text-align: left;
  }
}

@media only screen and (max-width: 915px) {
  .left-side,
  .right-side {
    padding: 2.2rem 2.5rem;
  }

  .left-side {
    margin-right: 1rem;
  }

  .right-side {
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 880px) {
  .left-side,
  .right-side {
    width: initial;
  }

  .wrapper {
    gap: 0;
    flex-direction: column;
  }

  .right-side {
    margin-top: 0;
    margin-left: 0;
  }

  .left-side {
    margin-right: 0;
  }

  .img-wrapper {
    margin-top: -1rem;
  }

  .img-wrapper img {
    width: 100%;
    transform: scale(1.1);
  }

  .img-wrapper > div > h2 {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 420px) {
  .left-side p {
    margin-right: 0;
  }

  .right-side p {
    margin-left: 0;
  }

  .img-wrapper p {
    font-size: 0.8rem;
  }
}
