.achievements {
  background-color: var(--secondary-clr);
  color: #fff;
  padding-block: 6.5rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.wrapper h3 span,
.wrapper h3 {
  font-size: clamp(3.2rem, 5.5vw, 4.5rem);
  font-weight: 800;
}

.wrapper span {
  font-weight: 600;
  /* font-size: 1.8rem; */
  font-size: clamp(0.95rem, 2.1vw, 1.4rem);
  margin-top: -1rem;
}

.wrapper svg {
  width: clamp(35px, 4vw, 55px);
}

.wrapper img {
  width: clamp(35px, 3.5vw, 50px);
}

@media only screen and (max-width: 600px) {
  .wrapper {
    flex-direction: column;
    gap: 3rem;
  }

  .achievements {
    padding-bottom: 5rem;
  }
  .wrapper svg {
    margin-bottom: -10px;
  }
}
