.cards {
  padding-top: 4rem;
  padding-bottom: 6rem;
}

.cards h2 {
  text-transform: uppercase;
  text-align: center;
  color: var(--secondary-clr);
  margin-bottom: 4rem;
  font-weight: 700;
}

.cards ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #fff;
}

.cards ul li {
  padding: 1rem 2rem;
  background-color: var(--main-clr);
  font-weight: 600;
  cursor: pointer;
}

.cards .left-side {
  width: 30%;
  flex-grow: 1;
}

.cards .right-side {
  width: 60%;
  flex-grow: 2;
  align-self: center;
}

.description {
  margin-inline: 0.5rem;
  background-color: var(--secondary-clr);
}

.description:not(:empty) {
  padding: 1rem 1.5rem;
}

.wrapper {
  display: flex;
  gap: 2rem;
}

@media only screen and (max-width: 1200px) {
  .cards .right-side {
    width: 50%;
  }

  .cards .left-side {
    width: 40%;
  }
}

@media only screen and (max-width: 750px) {
  .wrapper {
    flex-direction: column;
  }

  .cards .right-side,
  .cards .left-side {
    width: initial;
  }

  .cards .right-side {
    margin-top: 1rem;
  }
}
