.hero {
  position: relative;
  height: calc(100vh - 1rem);
  overflow: hidden;
  padding-top: 4rem;
}

.img {
  filter: brightness(50%);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  bottom: 19%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
}

.carousel-caption p {
  font-size: clamp(1.1rem, 2vw, 1.7rem);
}

.carousel-caption h1 {
  /* font-size: clamp(3.3rem, 6vw, 5.5rem); */
  font-size: clamp(2.7rem, 4.2vw, 4.8rem);
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.hero button {
  transition: background-color 0.2s;
}

.hero button:hover {
  background-color: var(--secondary-clr);
}

.icons {
  position: absolute;
  right: 0px;
  top: 14%;
  z-index: 9;
  display: flex;
  flex-direction: column;
}

.phone-wrapper {
  display: flex;
  gap: 1.1rem;
  align-items: center;
  color: #fff;
  padding: 1rem;
  background-color: var(--secondary-clr);
  text-align: center;
  transform: translateX(175px);
  transition: transform 1s;
  margin-bottom: 1rem;
}

.phone-wrapper a,
.location-wrapper a {
  transition: color 0.2s;
}

.phone-wrapper a:hover,
.location-wrapper a:hover {
  color: var(--main-clr);
}

.phone-wrapper:hover,
.location-wrapper:hover {
  transform: translateX(0);
}

.phone-wrapper img {
  width: clamp(28px, 5vw, 40px);
}

.location-wrapper {
  display: flex;
  gap: 1.1rem;
  align-items: center;
  color: var(--secondary-clr);
  padding: 1rem;
  background-color: #fff;
  text-align: center;
  transform: translateX(175px);
  transition: transform 1s;
}

.location-wrapper img {
  width: clamp(28px, 5vw, 40px);
}

@media only screen and (max-width: 785px) {
  .phone-wrapper,
  .location-wrapper {
    transform: translateX(161px);
  }
}

@media only screen and (max-width: 700px) {
  .phone-wrapper,
  .location-wrapper {
    transform: translateX(146px);
  }

  .hero {
    height: calc(100vh - 100px);
  }
}

@media only screen and (max-width: 680px) {
  .icons {
    top: 16%;
  }
}

@media only screen and (max-width: 600px) {
  .icons {
    top: 13%;
  }

  .phone-wrapper {
    margin-bottom: 0.8rem;
  }

  .carousel-caption {
    bottom: 17%;
  }

  .img {
    background-position-x: -200px;
  }
}
