.o-nama {
  padding: 7rem 0;
}

.o-nama h1 {
  color: var(--secondary-clr);
}

.img-wrapper {
  background-image: url('https://wallpaper.dog/large/20512813.jpg');
  height: 450px;
  background-position: bottom;
  margin-top: 1rem;
}

.o-nama p {
  margin: 0rem 1rem;
  margin-top: 2rem;
  color: var(--secondary-clr);
}

.o-nama svg path:nth-child(1) {
  fill: var(--main-clr);
}
