.o-nama {
  padding: 7rem 0;
}

.o-nama h1 {
  color: var(--secondary-clr);
}

.img-wrapper {
  background-image: url('../../assets/onama.jpg');
  height: 580px;
  filter: brightness(80%);
  background-position-y: center;
  background-position-x: center;
  background-size: cover;
  margin-top: 1rem;
}

.o-nama p {
  margin: 0rem 1rem;
  margin-top: 2rem;
  color: var(--secondary-clr);
}

.o-nama svg path:nth-child(1) {
  fill: var(--main-clr);
  transition: fill 0.3s;
}

.o-nama a:hover svg path:nth-child(1) {
  fill: var(--secondary-clr);
}

@media only screen and (max-width: 840px) {
  .o-nama h1 {
    text-align: center;
  }

  .o-nama ol {
    justify-content: center;
  }

  .img-wrapper {
    height: 450px;
    background-position-y: center;
    background-position-x: calc(50% - 20px);
  }
}
