.products h1 {
  color: var(--secondary-clr);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.wrapper aside {
  padding: 7rem 2rem;
  color: #fff;
  background-color: var(--secondary-clr);
  align-self: flex-start;
}

.wrapper aside h3 {
  font-size: clamp(1.2rem, 3vw, 1.8rem);
  margin-bottom: 0.8rem;
}

.wrapper aside li {
  cursor: pointer;
}

.wrapper > div {
  padding: 7rem 0;
}

.categories {
  display: flex;
  flex-direction: column;
}

.products select {
  background-color: var(--secondary-clr);
  color: #fff;
  font-size: clamp(1.2rem, 3vw, 1.8rem);
  text-align: center;
  padding: 0.3rem 0;
}

@media only screen and (max-width: 840px) {
  .wrapper {
    flex-direction: column;
    gap: 1.5rem;
  }

  .wrapper > div {
    padding: 0;
  }

  .products {
    padding-bottom: 6rem;
  }
}
