.video-section {
  max-height: 550px;
  overflow: hidden;
  display: grid;
  justify-items: center;
  align-content: center;
}

.wrapper {
  width: 100%;
  position: relative;
  color: #fff;
  text-align: center;
}

.wrapper video {
  width: 100%;
  filter: brightness(45%);
}

.wrapper .content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wrapper a {
  align-self: center;
  background-color: var(--secondary-clr);
  margin-top: 1rem;
  font-size: 1.2rem;
  transition: background-color 0.2s;
  /* display: inline-block; */
  padding: 0.5em 2em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  font-size: clamp(1rem, 1.7vw, 1.3rem) !important;
}

.wrapper a:hover {
  background-color: var(--main-clr);
}

@media only screen and (max-width: 600px) {
  .wrapper {
    width: 130%;
  }

  .wrapper .content {
    gap: 0.4rem;
  }
}

@media only screen and (max-width: 500px) {
  .wrapper {
    width: 164%;
  }
}
