.hamburger {
  position: relative;
  font-family: sans-serif;
  background-color: transparent;
  padding: 0;
  z-index: 99999;
}

.hamburger svg {
  position: relative;
  width: clamp(55px, 5vw, 80px);
  cursor: pointer;
  transition: stroke 0.3s;
}
