header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem clamp(1rem, 5vw, 8rem);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  background-color: #fff;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

header ul {
  display: flex;
  gap: 1.2rem;
}

header ul li {
  text-transform: uppercase;
  font-weight: 600;
  font-size: clamp(0.85rem, 1.1vw, 1.2rem);
}

header ul li a {
  color: var(--secondary-clr);
}

.logo {
  width: clamp(5.5rem, 8vw, 10rem);
}

.logo a {
  display: flex;
}

.kontakt {
  color: #fff !important;
  background-color: var(--main-clr);
  padding: 0.6em 2em;
}
