header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem clamp(1rem, 5vw, 8rem);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  background-color: #fff;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

header ul {
  display: flex;
  gap: 1.2rem;
}

header ul li {
  font-weight: 600;
}

header ul li a {
  color: var(--secondary-clr);
  font-size: clamp(0.9rem, 1.6vw, 1.15rem);
}

.logo {
  width: clamp(5.7rem, 8vw, 10rem);
}

.logo a {
  display: flex;
}

.kontakt {
  color: #fff !important;
  background-color: var(--main-clr);
  padding: 0.5em 2em;
}

@media only screen and (max-width: 950px) {
  header ul {
    gap: 0.8rem;
  }
}

@media only screen and (max-width: 680px) {
  header {
    flex-direction: column;
    gap: 0.7rem;
  }
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: initial;
    padding-block: 0.5rem;
  }
}
