footer {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  background: linear-gradient(147.92deg, #ff5e14 43.36%, #ffa132 127.02%);
}

.main {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.main-left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: #fff;
}

.main-left h2 {
  font-size: clamp(1.8rem, 3.5vw, 2.9rem);
  letter-spacing: 1.1px;
}

.secondary {
  background-color: var(--main-clr);
  padding-block: 1rem;
  margin-top: 4rem;
  color: #fff;
}

.secondary-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.secondary-wrapper p:last-of-type {
  color: #ccc;
  font-size: 1rem;
}

.secondary-wrapper p:last-of-type a:hover {
  color: var(--secondary-clr);
}

@media only screen and (max-width: 930px) {
  .main {
    flex-direction: column;
  }
}
