.products-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}

.product {
  display: flex;
  flex-direction: column;
  width: clamp(200px, 43vw, 31%);
  padding: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  justify-content: flex-end;
}

.product h3 {
  font-weight: 600;
}

.content {
  margin-top: 1.4rem;
  display: flex;
  flex-direction: column;
}

.content img {
  margin-left: -4px;
  padding: 0.2rem 0.3rem;
  width: clamp(90px, 9vw, 130px);
}

.content button {
  margin-top: 1rem;
  font-size: clamp(0.75rem, 1.5vw, 1.1rem) !important;
  background-color: var(--secondary-clr);
  align-self: flex-start;
  transition: background-color 0.3s;
}

.content button:hover {
  background-color: var(--main-clr);
}

.slider-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media only screen and (max-width: 840px) {
  .product {
    width: 46%;
  }

  .products-wrapper {
    justify-content: space-between;
  }
}
